.home{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/neflix-b34c6.appspot.com/o/images%2Fbody-image%2Fnetflix-new.png?alt=media&token=2b5290c0-e0ba-4eec-9739-e43c418e8cef");
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}